@import 'palette.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html, body {
	height: 90%;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
}

#kandi-canvas {
	border: 1px solid black;
	/*display: block;
	margin: auto;*/
}

#canvas-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#edit-color-palette-container {
	display: none;
}

#bead-counts {
	padding-left: 0;
	display: inline-block;
}

#bead-counts > li{
	list-style-type: none;
	display: inline-block;
	margin-right: 10px;
}

.bead-count-color-label {
	display: inline-block;
	border: 1px solid black;
	width: 1rem;
	height: 1rem;
	margin-right: 5px;
}

#color-palette > button {
	width: 2rem;
	height: 2rem;
}

#tools-container > button {
	width: 2rem;
	height: 2rem;
	padding: 0;
}

#tools-container > button > img {
	width: auto;
	height: 100%;
}

.selected {
	border: 3px solid blue;
}

menu {
	padding-left: 0;
	list-style-type: none;
}

#toolbar {
	display: flex;
	margin-bottom: 10px;
}

.toolbar-section {
	margin-left: 10px;
	margin-right: 10px;
}

.toolbar-section-heading {
	display: block;
	font-size: small;
	font-weight: lighter;
	margin-bottom: 2px;
	text-decoration: underline dashed var(--black) 1px;
}

#size-section input {
	width: 72px;
}
